.Product-Navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
}

.Product-Navbar h1{
    color: #05ff5d;
}

.Product-Navbar ul{
    display: flex;
    gap: 70px;
}

.Product-Navbar ul li {
    font-size: 17px;
    font-weight: 300;
}

@media screen and (max-width: 714px) {
    .Product-Navbar ul{
        margin-top: 20px;
    }
}

@media screen and (max-width: 540px) {
    .Product-Navbar ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        
    }
}

@media screen and (max-width: 380px) {
    .Product-Navbar ul{
        gap: 30px;
    }
}

@media screen and (max-width: 330px) {
    .Product-Navbar ul{
        gap: 15px;
    }
}