.title-container{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    flex-wrap: wrap;
    margin: 80px 0px;
}

.title-container h2{
    font-size: 55px;
    color: #05ff5d;
    margin-top: 5px;
}

.title-container p{
    font-weight: bold;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.496);
    font-size: 17px;
    margin-bottom: 5px;
}

@media screen and (max-width: 830px) {
    .title-container p{
        font-size: 17px;
    }
    
}

@media screen and (max-width: 830px) {
    .title-container p{
        font-size: 12px;
    }
}


