@media screen and (max-width: 3000px) {
    .container {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 600px) {
    .container {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1060px) {
    .container {
        overflow-x: hidden;
    }
}