@media screen and (max-width: 600px) {
    .footer {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1060px) {
    .footer {
        overflow-x: hidden;
    }
}


.PaddingFavorite{
    padding: 0 10%;
}
