@media screen and (max-width: 600px) {
    .ProductPage-Container {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1060px) {
    .ProductPage-Container {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 930px) {
    .PaddingAllProductPage{
        padding: 0 0px;
    }
}


.PaddingAllProductPage{
    padding: 0 10%;
}